# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss
*.md           @Vika-F @maria-Petrova @Alexsandruss

samples/       @maria-Petrova @Alexsandruss
examples/      @maria-Petrova @Alexsandruss

.ci/           @Alexsandruss
.github/       @Alexsandruss

make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss
dev/           @Alexsandruss

cpp/daal/      @Alexsandruss
cpp/oneapi/    @Alexsandruss
java/          @Alexsandruss
