# Logs
*.log

# Release and work directories
__release*
__work*
__nuget*

# External dependencies
__deps*

# Bazel directories
bazel-*

# Visual Studio related files, e.g., ".vscode"
.vs*

# Bazel directories
bazel-*

# PyCharm directories
.idea*

# CMake directories and cache
CMakeFiles
CMakeCache.txt

docs/doxygen/daal/doxygen
