# Logs
*.log

# Release and work directories
__release*
__work*

# External dependencies
__deps*

# Bazel directories
bazel-*

# Visual Studio related files, e.g., ".vscode"
.vs*

# Bazel directories
bazel-*
cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/debug.cpp
cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/debug.hpp
dev/make/common.mk
examples/oneapi/cpp/makefile_lnx
examples/oneapi/data/si_pattern_graph.csv
examples/oneapi/data/si_target_graph.csv
dev/make/common.mk
examples/oneapi/cpp/makefile_lnx
examples/oneapi/data/si_pattern_graph.csv
examples/oneapi/data/si_target_graph.csv
