/*******************************************************************************
* Copyright 2014-2019 Intel Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*******************************************************************************/

/* Defines the classes/types/consts etc of the daal::algorithms::neural_networks::layers::maximum_pooling3d::backward namespace of DAAL */

{% from 'jinjadefs.tmpl' import declare_module, add_compute, add_compute2, in_namespace, add_includes,
                                add_getitem, add_aliases, add_ignores, handle_all_templates %}
{% set ns  = 'algorithms::neural_networks::layers::maximum_pooling3d::backward' %}
{% set module  = 'backward' %}
{% set package = 'algorithms.neural_networks.layers.maximum_pooling3d' %}

// see jinjadefs.tmpl for all configuration options evaluated by standard macros.
//   E.g. 'needpatch', 'ignore', 'steps', 'methods' and others
{% set cfg = {
    'includes': [
        'algorithms/neural_networks/layers/pooling3d/maximum_pooling3d_layer_backward_types.h',
        'algorithms/neural_networks/layers/pooling3d/maximum_pooling3d_layer_backward.h',
    ],
    'classes': [
        'Input',
        'Result',
    ],
    'methods': [
        'daal::algorithms::neural_networks::layers::maximum_pooling3d::defaultDense',
    ],
    'templates': {
        'Batch': [['fptype', fptypes, 'float'], ['method', 'methods', 'daal::algorithms::neural_networks::layers::maximum_pooling3d::defaultDense']],
        'Result::allocate': [['fptype', fptypes, '']],
    },
} %}

{{declare_module('daal.'+package, module)}}

// define the namespace needed as being used
// we only include those we need to save SWIG compile time
#define USE_algorithms
#define USE_algorithms__neural_networks
#define USE_algorithms__neural_networks__initializers
#define USE_algorithms__engines
#define USE_algorithms__engines__mt19937
#define USE_algorithms__neural_networks__layers
#define USE_algorithms__neural_networks__layers__backward
#define USE_algorithms__neural_networks__layers__maximum_pooling3d
#define USE_algorithms__neural_networks__layers__maximum_pooling3d__backward
#define USE_algorithms__neural_networks__layers__pooling3d
#define USE_algorithms__neural_networks__layers__pooling3d__backward

%include "daal_common.i"

// renaming, typemaps need to go before declarations -> put them here
// E.g. if a list of get/set methods follows here
// Input: using layers::backward::Input::get;
// Input: using layers::backward::Input::set;
%rename(getLayerData) daal::{{ns}}::interface1::Input::get(LayerDataId id) const;
%rename(setLayerData) daal::{{ns}}::interface1::Input::set(LayerDataId id, const data_management::TensorPtr &ptr);
// Result: using layers::backward::Result::get;
// Result: using layers::backward::Result::set;

// only import the last module in package hierachy (omit importing its parents)
%import "algorithms__neural_networks__layers__maximum_pooling3d.i"
%import "algorithms__neural_networks__layers__pooling3d__backward.i"

// standard/basic type mappings
%import <std_string.i>

%{
#include <daal.h>
using namespace daal::algorithms::neural_networks::layers::maximum_pooling3d::backward;
using namespace daal::algorithms::neural_networks::layers::maximum_pooling3d;
%}

// declare to-be-ignored classes *before* scanning headers
{{add_ignores(cfg,ns)}}

// Let swig do the heavy-lifting: parse the headers and
//  extract the interfaces
{{add_includes(cfg)}}

{% call() in_namespace('::'.join(['daal', ns])) %}
    // Add our compute wrappers
    {{add_compute("Batch")}}
    // no Online
    // no Distributed

    // now all template instantiations
    {{handle_all_templates(ns, cfg)}}

{% endcall %}

{{add_aliases(cfg)}}
