/*******************************************************************************
* Copyright 2014-2019 Intel Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*******************************************************************************/

/* Defines the classes/types/consts etc of the daal::algorithms::multi_class_classifier::quality_metric_set namespace of DAAL */

{% from 'jinjadefs.tmpl' import declare_module, add_compute, add_compute2, in_namespace, add_includes,
                         add_aliases, add_ignores, handle_all_templates, cls_with_iface %}
{% set ns  = 'algorithms::multi_class_classifier::quality_metric_set' %}
{% set module  = 'quality_metric_set' %}
{% set package = 'algorithms.multi_class_classifier' %}

// see jinjadefs.tmpl for all configuration options evaluated
// by standard macros.
// like 'needpatch', 'ignore', 'steps', 'methods' and others
{% set cfg = {
    'includes': ['algorithms/multi_class_classifier/multi_class_classifier_quality_metric_set_types.h',
                 'algorithms/multi_class_classifier/multi_class_classifier_quality_metric_set_batch.h'],
    'classes': ['Batch', 'InputDataCollection', 'Parameter', 'ResultCollection'],
    'templates': {},
} %}

{{declare_module('daal.'+package, module)}}

// define the namespace needed as being used
// we only include those we need to save SWIG compile time
#define USE_{{ns.replace('::', '__')}}
#define USE_{{package.replace('.', '__')}}
#define USE_algorithms__quality_metric
#define USE_algorithms__quality_metric_set
#define USE_algorithms__classifier
#define USE_algorithms__classifier__training
#define USE_algorithms__classifier__prediction
#define USE_algorithms__classifier__quality_metric
#define USE_algorithms__classifier__quality_metric__multiclass_confusion_matrix

%include "daal_common.i"

// renaming, typemaps need to go before declarations -> put them here

// only import the last module in package hierachy (omit importing its parents)
%import "algorithms__quality_metric_set.i"
%import "{{package.replace('.', '__')}}.i"
%import "algorithms__classifier__quality_metric__multiclass_confusion_matrix.i"

// standard/basic type mappings
%import <std_string.i>

%{
#include <daal.h>
using namespace daal::{{ns}};
%}

{% call() in_namespace('::'.join(['daal', ns])) %}
{% endcall %}
using namespace {{'::'.join(['daal', ns])}};

// declare to-be-ignored classes *before* scanning headers
{{add_ignores(cfg,ns)}}

// Let swig do the heavy-lifting: parse the headers and
//  extract the interfaces
{{add_includes(cfg)}}

{% call() in_namespace('::'.join(['daal', ns])) %}
    // Add our compute wrappers
    %extend {{cls_with_iface('Batch', cfg)}} {
        {{cls_with_iface('ResultCollectionPtr', cfg)}} compute() {
            $self->compute();
            return $self->getResultCollection();
        }
    };
    // no Online
    // no Distributed

    // now all template instantiations
    {{handle_all_templates(ns, cfg)}}

{% endcall %}

{{add_aliases(cfg)}}
