/*******************************************************************************
* Copyright 2014-2019 Intel Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*******************************************************************************/

/* Defines the classes/types/consts etc of the daal::algorithms::pca::quality_metric::explained_variance namespace of DAAL */

{% from 'jinjadefs.tmpl' import declare_module, add_compute, add_compute2, in_namespace, add_includes,
                                add_getitem, add_aliases, add_ignores, handle_all_templates %}
{% set ns  = 'algorithms::pca::quality_metric::explained_variance' %}
{% set module  = 'explained_variance' %}
{% set package = 'algorithms.pca.quality_metric' %}

// see jinjadefs.tmpl for all configuration options evaluated by standard macros.
//   E.g. 'needpatch', 'ignore', 'steps', 'methods' and others
{% set cfg = {
    'includes': [
        'algorithms/pca/pca_explained_variance_types.h',
        'algorithms/pca/pca_explained_variance_batch.h',
    ],
    'classes': [
        'Input',
        'Parameter',
        'Result',
    ],
    'methods': [
        'defaultDense',
    ],
    'templates': {
        'Result::allocate': [['fptype', fptypes, '']],
        'Batch': [['fptype', fptypes, 'double'], ['method', 'methods', 'defaultDense']],
    },
} %}

{{declare_module('daal.'+package, module)}}

// define the namespace needed as being used
// we only include those we need to save SWIG compile time
#define USE_algorithms
#define USE_algorithms__quality_metric
#define USE_algorithms__pca
#define USE_algorithms__pca__quality_metric__explained_variance

%include "daal_common.i"

// renaming, typemaps need to go before declarations -> put them here
// E.g. if a list of get/set methods follows here
%rename(getInput) /*data_management::NumericTablePtr */ daal::{{ns}}::interface1::Input::get(InputId id) const;
%rename(setInput) /*void */ daal::{{ns}}::interface1::Input::set(InputId id, const data_management::NumericTablePtr &value);
%rename(getResult) /*data_management::NumericTablePtr */ daal::{{ns}}::interface1::Result::get(ResultId id) const;
%rename(setResult) /*void */ daal::{{ns}}::interface1::Result::set(ResultId id, const data_management::NumericTablePtr &value);

// only import the last module in package hierachy (omit importing its parents)
%import "algorithms__quality_metric.i"

// standard/basic type mappings
%import <std_string.i>

%{
#include <daal.h>
using namespace daal::algorithms::pca::quality_metric::explained_variance;
using namespace daal::algorithms::pca::quality_metric;
using namespace daal::algorithms::pca;
using namespace daal::algorithms;
%}

// declare to-be-ignored classes *before* scanning headers
{{add_ignores(cfg,ns)}}

// Let swig do the heavy-lifting: parse the headers and
//  extract the interfaces
{{add_includes(cfg)}}

{% call() in_namespace('::'.join(['daal', ns])) %}
    // Add our compute wrappers
    {{add_compute("Batch")}}
    // no Online
    // no Distributed

    // now all template instantiations
    {{handle_all_templates(ns, cfg)}}

{% endcall %}

{{add_aliases(cfg)}}
