/*******************************************************************************
* Copyright 2014-2019 Intel Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*******************************************************************************/

/* Defines the classes/types/consts etc of the daal::algorithms::optimization_solver::precomputed namespace of DAAL */

{% from 'jinjadefs.tmpl' import add_compute, add_compute2, in_namespace, add_includes,
                         add_getitem, add_aliases, add_ignores, handle_all_templates, cls_with_iface %}

{% set ns  = 'algorithms::optimization_solver::precomputed' %}
{% set module  = 'precomputed' %}
{% set package = 'algorithms.optimization_solver' %}

// see jinjadefs.tmpl for all configuration options evaluated by standard macros.
//   E.g. 'needpatch', 'ignore', 'steps', 'methods' and others
{% set cfg = {
    'classes': [],
    'includes': [
        'algorithms/optimization_solver/objective_function/precomputed_types.h',
        'algorithms/optimization_solver/objective_function/precomputed_batch.h'
    ],
    'methods': [
        'defaultDense'
    ],
    'templates': {
        'Batch': [['fptype', fptypes, 'double'], ['method', 'methods', 'defaultDense']]
    },
    'namespaces': {
        'Batch': 'interface2',
        'BatchContainer': 'interface2'
    }
} %}

%module(package="daal.{{package}}") {{module}}

// define the namespace needed as being used
// we only include those we need to save SWIG compile time
#define USE_algorithms
#define USE_algorithms__optimization_solver
#define USE_algorithms__optimization_solver__precomputed
#define USE_algorithms__optimization_solver__sum_of_functions
#define USE_algorithms__optimization_solver__objective_function
#define USE_algorithms__engines
#define USE_algorithms__engines__mt19937

%include "daal_common.i"

// renaming, typemaps need to go before declarations -> put them here
{% call() in_namespace('::'.join(['daal', ns])) %}
class {{cls_with_iface('Batch', cfg)}};
{% endcall %}

%rename(interface1_Batch) daal::{{ns}}::interface1::Batch;

%shared_ptr(daal::{{ns}}::interface1::Batch);

// only import the last module in package hierachy (omit importing its parents)
%import "algorithms__optimization_solver__sum_of_functions.i"

// standard/basic type mappings
%import <std_string.i>

%{
#include <daal.h>
using namespace daal::{{ns}};
%}

// declare to-be-ignored classes *before* scanning headers
{{add_ignores(cfg,ns)}}

// Let swig do the heavy-lifting: parse the headers and
//  extract the interfaces
{{add_includes(cfg)}}

{% call() in_namespace('::'.join(['daal', ns])) %}
    // Add our compute wrappers
    {{add_compute("Batch", res="daal::algorithms::optimization_solver::objective_function::Result", cfg=cfg)}}
    // no Online
    // no Distributed

    // now all template instantiations
    {{handle_all_templates(ns, cfg)}}

{% endcall %}

{{add_aliases(cfg)}}
