/*******************************************************************************
* Copyright 2014-2019 Intel Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*******************************************************************************/

/* Defines the classes/types/consts etc of the daal::algorithms::logistic_regression::training namespace of DAAL */

{% from 'jinjadefs.tmpl' import declare_module, add_compute, add_compute2, in_namespace, add_includes, add_aliases, add_ignores, handle_all_templates %}
{% set ns  = 'algorithms::logistic_regression::training' %}
{% set module  = 'training' %}
{% set package = 'algorithms.logistic_regression' %}

// see jinjadefs.tmpl for all configuration options evaluated
// by standard macros.
// like 'needpatch', 'ignore', 'steps', 'methods' and others
{% set cfg = {
    'includes': ['algorithms/logistic_regression/logistic_regression_training_types.h',
                 'algorithms/logistic_regression/logistic_regression_training_batch.h'],
    'classes': ['Parameter', 'Result'],
    'methods' : ['defaultDense'],
    'templates' : {
        'Batch': [['fptype', fptypes, 'double'], ['method', 'methods', 'defaultDense']],
        'Result::allocate': [['fptype', fptypes, '']],
    },
    'namespaces': {
        'Batch': 'interface2',
        'BatchContainer': 'interface2',
        'Result': 'interface2',
        'Result::allocate': 'interface2',
        'ResultPtr': 'interface2',
        'Parameter': 'interface2',
    }
} %}

{{declare_module('daal.'+package, module)}}

// define the namespace needed as being used
// we only include those we need to save SWIG compile time
#define USE_{{ns.replace('::', '__')}}
#define USE_{{package.replace('.', '__')}}
#define USE_algorithms__classifier
#define USE_algorithms__classifier__training
#define USE_algorithms__optimization_solver
#define USE_algorithms__optimization_solver__iterative_solver
#define USE_algorithms__optimization_solver__sum_of_functions
#define USE_algorithms__optimization_solver__objective_function

%include "daal_common.i"

// renaming, typemaps need to go before declarations -> put them here
%rename(interface1_Parameter) daal::{{ns}}::interface1::Parameter;

%shared_ptr(daal::{{ns}}::interface1::Parameter);

%rename(interface1_Result) daal::{{ns}}::interface1::Result;

%shared_ptr(daal::{{ns}}::interface1::Result);

%rename(interface1_Batch) daal::{{ns}}::interface1::Batch;

%shared_ptr(daal::{{ns}}::interface1::Batch);

// only import the last module in package hierachy (omit importing its parents)
%import "{{package.replace('.', '__')}}.i"
%import "algorithms__classifier__training.i"
%import "algorithms__optimization_solver__iterative_solver.i"
%import "algorithms__optimization_solver__sum_of_functions.i"

// standard/basic type mappings
%import <std_string.i>

%{
#include <daal.h>
using namespace daal::{{ns}};
%}

// declare to-be-ignored classes *before* scanning headers
{{add_ignores(cfg,ns)}}

// Let swig do the heavy-lifting: parse the headers and
//  extract the interfaces
{{add_includes(cfg)}}

{% call() in_namespace('::'.join(['daal', ns])) %}
    // Add our compute wrappers
    {{add_compute("Batch", cfg=cfg)}}
    // no Online
    // no Distributed

    // now all template instantiations
    {{handle_all_templates(ns, cfg)}}

{% endcall %}

{{add_aliases(cfg)}}
