/*******************************************************************************
* Copyright 2014-2019 Intel Corporation
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*******************************************************************************/

/* Defines the classes/types/consts etc of the daal::${namespace} namespace of DAAL */

{% from 'jinjadefs.tmpl' import declare_module, add_compute, add_compute2, in_namespace,
                                add_includes, add_aliases, add_ignores, handle_all_templates %}
{% set ns  = 'data_management' %}
{% set module  = 'db' %}
{% set package = 'data_management' %}

// see jinjadefs.tmpl for all configuration options evaluated
// by standard macros.
// like 'needpatch', 'ignore', 'steps', 'methods' and others
{% set cfg = {
    'descript': 'Database data sources like MySQL and ODBC',
    'includes': ['data_management/data_source/mysql_feature_manager.h',
                 'data_management/data_source/odbc_data_source.h',],
    'classes': ['MySQLFeatureManager',],
    'templates': {
        'ODBCDataSource': [['FeatureManager',
                            ['daal::data_management::interface1::MySQLFeatureManager'],
                            'daal::data_management::interface1::MySQLFeatureManager'],
                           ['StatsType', stypes, 'double']],
    },
} %}

{{declare_module('daal.'+package, module)}}

// define the namespace needed as being used
// we only include those we need to save SWIG compile time
#define USE_{{package.replace('.', '__')}}__{{module}}
#define USE_{{package.replace('.', '__')}}

%include "daal_common.i"

// renaming, typemaps need to go before declarations -> put them here

// only import the last module in package hierachy (omit importing its parents)
%import "{{package.replace('.', '__')}}.i"

// standard/basic type mappings
%import <std_string.i>

%{
#include <daal.h>
#include <data_management/data_source/mysql_feature_manager.h>
#include <data_management/data_source/odbc_data_source.h>
using namespace daal::{{package}};
%}

// declare to-be-ignored classes *before* scanning headers
{{add_ignores(cfg,ns)}}

// Let swig do the heavy-lifting: parse the headers and
//  extract the interfaces
{{add_includes(cfg)}}

{% call() in_namespace('::'.join(['daal', ns])) %}

    // now all template instantiations
    {{handle_all_templates(ns, cfg)}}

{% endcall %}

{{add_aliases(cfg)}}
