/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
         
      white-space: normal !important;
   }
/*
   .wy-table-responsive {
      overflow: visible !important;
   }
}
*/

/* make the page width fill the window */
.wy-nav-content {
   max-width: none;
}


.code-block-caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}


.collapsible {
  margin-left: -10px;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 18px 18px 18px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 700;
  font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

code.sig-name.descname {
   white-space: initial;
}

table.optimization-notice td {
   white-space: initial;
}

table.optimization-notice td p:last-child {
   text-align: right;
}

/*
.rst-content tt.literal, .rst-content code.literal, .highlight {
   background: #f0f0f0;
}
.rst-content tt.literal, .rst-content code.literal {
    color: #000000;
}*/
