name: docker-validation Nightly

on:
  schedule:
    - cron: "0 23 * * *"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docker-validation-nightly.yml
      - dev/docker/onedal-dev.Dockerfile
      - .ci/env
      - .ci/scripts
  push:
    branches:
      - main
    paths:
      - .github/workflows/docker-validation-nightly.yml
      - dev/docker/onedal-dev.Dockerfile
      - .ci/env
      - .ci/scripts

permissions:
  contents: read

jobs:
  validate:
    name: Docker validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Build docker image
        run: docker build . --file dev/docker/onedal-dev.Dockerfile --tag onedal-dev:latest
      - name: Building oneDAL
        run: docker run onedal-dev .ci/scripts/build.sh --compiler gnu --optimizations avx2 --target daal --conda-env ci-env
      - name: Building oneDAL with bazel
        run: docker run onedal-dev bazel build :release
