#===============================================================================
# Copyright contributors to the oneDAL project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

name: Nightly-build

on:
  schedule:
    - cron: '0 21 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_lnx:
    name: build Linux
    if: github.repository == 'oneapi-src/oneDAL'
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Checkout oneDAL
        uses: actions/checkout@v4
        with:
          repository: oneapi-src/oneDAL
      - name: Install DPC++
        run: .ci/env/apt.sh dpcpp
      - name: System Info
        run: |
          source /opt/intel/oneapi/compiler/latest/env/vars.sh
          .ci/scripts/describe_system.sh
      - name: Make daal
        run: |
          source /opt/intel/oneapi/compiler/latest/env/vars.sh
          .ci/scripts/build.sh --compiler icx  --optimizations avx2 --target daal
      - name: Make onedal
        run: |
          source /opt/intel/oneapi/compiler/latest/env/vars.sh
          .ci/scripts/build.sh --compiler icx  --optimizations avx2 --target onedal
      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: __release_lnx
          path: ./__release_lnx_icx

  build_win:
    name: build Windows
    if: github.repository == 'oneapi-src/oneDAL'
    runs-on: windows-2022
    timeout-minutes: 120

    steps:
      - name: Checkout oneDAL
        uses: actions/checkout@v4
        with:
          repository: oneapi-src/oneDAL
      - name: Install DPC++
        run: |
          & .ci/scripts/install_dpc.ps1
      - name: Prepare Intel OpenCL CPU runtime
        run: |
          # Store the unpacked runtime to centralize and reduce external downloads
          & .ci/scripts/collect_opencl_rt.ps1
      - name: System Info
        shell: cmd
        run: |
          set PATH=C:\msys64\usr\bin;%PATH%
          pip install cpufeature
          call .\dpcpp\compiler\latest\env\vars.bat
          bash .ci/scripts/describe_system.sh
      - name: Make daal
        shell: cmd
        run: |
          call .\.ci\scripts\build.bat daal vc avx2
      - name: Make onedal
        shell: cmd
        run: |
          call .\.ci\scripts\build.bat onedal_c vc avx2
      - name: Make oneapi_dpc
        shell: cmd
        run: |
          call .\dpcpp\compiler\latest\env\vars.bat
          call .\dpcpp\compiler\latest\bin\sycl-ls.exe
          call .\.ci\scripts\build.bat onedal_dpc vc avx2
      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: __release_win
          path: .\__release_win_vc
      - name: Compress DPC++
        shell: cmd
        run: |
          tar -cvzf icx.zip .\dpcpp
      - name: Archive DPC++
        uses: actions/upload-artifact@v4
        with:
          name: icx_compiler
          path: .\icx.zip
      - name: Archive Intel OpenCL CPU runtime
        uses: actions/upload-artifact@v4
        with:
          name: opencl_rt_installer
          path: .\opencl_rt.msi
